Bottleneck==1.3.4
brotlipy==0.7.0
fastapi==0.78.0
google-cloud-storage==2.3.0
olefile==0.46
parmap==1.5.3
pymongo==4.1.1
pyOpenSSL==19.1.0
PySocks==1.7.1
sagemaker-training==4.1.0
seaborn==0.11.2
sklearn==0.0
torchelastic==0.2.1
torchvision==0.8.2
transformers==4.18.0
uvicorn==0.17.6
wandb==0.12.15
